{% extends 'renters/base.html' %}
{% block meta %}
    <title>Contact Us | CarLnk - Get the Best Car Rental Deals in Zimbabwe</title>
    <meta name="description" content="Our website uses cookies to improve your browsing experience and personalize content. This Cookie Policy explains what cookies are, how we use them, and your choices regarding cookies. By using our website, you consent to our use of cookies in accordance with this policy.">
{% endblock meta %}
{% load static %}

{% block content %}
<style>
    .ftco-navbar-light {
        background: #000 !important;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 3;
    }
</style>

<section class="ftco-section">
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="heading-section ftco-animate">
                <h2 class="mb-3">Cookie Policy</h2>
            </div>
        </div>
        <div class="row text-dark">
          <h2>1. Introduction</h2>
          <p>This Cookie Policy explains how CarLnk ("we," "us," or "our") uses cookies and similar technologies on our website, carlnk.co ("Website"). By using the Website, you consent to the use of cookies and similar technologies as described in this policy.</p>
          <h2>2. What are cookies?</h2>
          <p>Cookies are small data files that are placed on your device when you visit a website. They are widely used to make websites work or to work more efficiently, as well as to provide information to the owners of the site. Cookies are also used to collect information about your browsing behavior, such as the pages you visit, the links you click, and the amount of time you spend on each page.</p>
          <h2>3. What cookies do we use and why?</h2>
          <p>We use different types of cookies on our Website:</p>
          <ul>
            <li>Essential cookies: These cookies are necessary for the Website to function properly. They enable you to navigate around the Website and use its features. Without these cookies, we cannot provide you with the services you have requested.</li>
            <li>Performance cookies: These cookies help us to understand how visitors interact with our Website by providing information about the areas visited, the time spent on the Website, and any issues encountered, such as error messages. This information helps us to improve the performance of our Website.</li>
            <li>Analytics cookies: We use Google Analytics to collect information about how visitors use our Website. The information collected is anonymous and includes the number of visitors to the Website, where visitors have come to the Website from, and the pages they visited. We use this information to improve the Website and to understand how visitors use our Website.</li>
          </ul>
          <h2>4. Third-party cookies</h2>
          <p>We also use third-party cookies on our Website. These cookies are placed by third-party service providers who perform services on our behalf, such as website analytics or advertising. We do not have control over these cookies, and we recommend that you review the third-party's privacy policy to understand how they use cookies.</p>
          <h2>5. Managing cookies</h2>
          <p>You can control the use of cookies on our Website by adjusting your browser settings. Most browsers allow you to refuse to accept cookies or to delete cookies. However, if you choose to disable cookies, some features of our Website may not function properly.</p>
          <h2>6. Changes to this policy</h2>
          <p>We may update this Cookie Policy from time to time to reflect changes in technology, law, or our business operations. We will notify you of any changes by posting the updated policy on our Website.</p>
          <h2>7. Contact us</h2>
          <p>If you have any questions about this Cookie Policy or our use of cookies, please contact us at <a href="mailto:support@carlnk.co">support@carlnk.co</a>.</p>
        </div>
    </div>
</section>


{% endblock content %}