{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CarLnk | Signup</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'signup/css/bd-wizard.css' %}">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  
</head>

<body>
<style>
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #01D28E;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

  input[type=file]::file-selector-button:hover {
    background: #159c6f;
  }
</style>

<main class="d-flex align-items-center">
  <div class="container mt-5">
    <div id="wizard">
      <a href="{% url 'home' %}">
        <h2 class="section-heading mb-2">CAR<span style="color: #01D28E;">LNK</span></h2>
      </a>
        <h3>Step 1 Title</h3>
        <section>
          <h5 class="bd-wizard-step-title">Step 1</h5>
          <h2 class="section-heading">Drive your business forward with us </h2>
          <p class="mt-5">
          Thank you for your interest in creating an account on our online car rental marketplace.
          </p>
          <p>
          In order to ensure transparency and security for all of our users, we require that all business 
          owners provide certain information during the signup process. 
          </p>
          <p>
          This includes your personal information, business name, address, and contact information, 
          as well as proof of your business's legal registration. 
          </p>
          <p>
          By providing this information, we will be able to verify your business and ensure that our 
          marketplace remains a safe and reliable platform for all users.
          </p>
        </section>
        <h3>Step 2 Title</h3>
        <section>
          <h5 class="bd-wizard-step-title">Step 2</h5>
          <h2 class="section-heading">Personal information</h2>
          <div class="form-group">
            <label for="firstName" class="sr-only">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="lastName" class="sr-only">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="phoneNumber" class="sr-only">Phone Number</label>
            <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number e.g. 0772 345 678">
          </div>

          <div class="form-group mt-4">
            <div>
              <label for="formFileLg" class="form-label">Nation ID or Passport or Drivers License</label>
            </div>
            <div> 
              <input id="personal_ID_formField" type="file" accept="image/*" name="personal_ID_formField">
            </div>
          </div>
          
        </section>
        <h3>Step 3 Title</h3>
        <section>
            <h5 class="bd-wizard-step-title">Step 3</h5>
            <h2 class="section-heading mb-5">Business information</h2>
            <div class="form-group">
              <label for="firstName" class="sr-only">Business Name</label>
              <input type="text" name="businessName" id="businessName" class="form-control" placeholder="Business Name">
            </div>
            <div class="form-group">
              <label for="lastName" class="sr-only">Registered Address</label>
              <textarea  type="text" name="registeredAddress" id="registeredAddress" class="form-control" placeholder="Registered Address" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label for="businessPhoneNumber" class="sr-only">Phone Number</label>
              <input type="text" name="businessPhoneNumber" id="businessPhoneNumber" class="form-control" placeholder="Phone Number e.g. 0772 345 678">
            </div>
            <div class="form-group">
              <label for="website" class="sr-only">Website</label>
              <input type="text" name="website" id="website" class="form-control" placeholder="Website">
            </div>
            <div class="form-group">
              <label for="website" class="sr-only">Business Slogan</label>
              <input type="text" name="businessSlogan" id="businessSlogan" class="form-control" placeholder="Business Slogan">
            </div>

            <div class="form-group mt-4">
              <div>
                <label for="formFileLg" class="form-label">Certificate of Incorparation</label>
              </div>
              <div> 
                <input id="cert_of_incorp" type="file" accept="image/*" name="cert_of_incorp">
              </div>
            </div>

            <div class="form-group mt-4">
              <div>
                <label for="formFileLg" class="form-label">Proof of Residence</label>
              </div>
              <div> 
                <input id="proof_of_res" type="file" accept="image/*" name="proof_of_res">
              </div>
            </div>

            <div class="form-group mt-4">
              <div>
                <label for="formFileLg" class="form-label">Business Logo</label>
              </div>
              <div> 
                <input id="busi_logo" type="file" accept="image/*" name="busi_logo">
              </div>
            </div>

        </section>
        <div>
  </div>
</main>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{% static 'signup/js/jquery.steps.min.js' %}"></script>
  <script src="{% static 'signup/js/bd-wizard.js' %}"></script>
</body>

  <!-- Validate Personal ID File Field -->
  <script>
    var file_size = 0
    $(document).ready(function () {
      $('#personal_ID_formField').change(function () {
        if (this.files.length > 0) {

          $.each(this.files, function (index, value) {
            file_size = value.size
          })
        }
        if (file_size > 10485760 ) {
          alert('Maximum file size exceeded. Max is 10MB')
          $('#personal_ID_formField').val('');
        }
      })
    })
  </script>

  <!-- Validate Certificate of Incorparation File Field -->
  <script>
    var file_size = 0
    $(document).ready(function () {
      $('#cert_of_incorp').change(function () {
        if (this.files.length > 0) {

          $.each(this.files, function (index, value) {
            file_size = value.size
          })
        }
        if (file_size > 10485760 ) {
          alert('Maximum file size exceeded. Max is 10MB')
          $('#cert_of_incorp').val('');
        }
      })
    })
  </script>

  <!-- Validate Proof of Residence File Field -->
  <script>
    var file_size = 0
    $(document).ready(function () {
      $('#proof_of_res').change(function () {
        if (this.files.length > 0) {

          $.each(this.files, function (index, value) {
            file_size = value.size
          })
        }
        if (file_size > 10485760 ) {
          alert('Maximum file size exceeded. Max is 10MB')
          $('#proof_of_res').val('');
        }
      })
    })
  </script>

  <!-- Validate Bussiness Logo File Field -->
  <script>
    var file_size = 0
    $(document).ready(function () {
      $('#busi_logo').change(function () {
        if (this.files.length > 0) {

          $.each(this.files, function (index, value) {
            file_size = value.size
          })
        }
        if (file_size > 10485760 ) {
          alert('Maximum file size exceeded. Max is 10MB')
          $('#busi_logo').val('');
        }
      })
    })
  </script>


  <!-- AJAX Submit Data -->
  <script>
    document.addEventListener('click', function(event) {
      if (event.target.tagName === 'A' && event.target.getAttribute('href') === '#finish') {
        
        let parent = event.target.parentElement;
        while (parent) {
          if (parent.tagName === 'LI') {
            parent = parent.parentElement;
            if (parent.tagName === 'UL') {
              parent = parent.parentElement;
              if (parent.classList.contains('actions') && parent.classList.contains('clearfix')) {

                event.preventDefault();
                let files = [
                  document.querySelector('input[type="file"][name="personal_ID_formField"]'),
                  document.querySelector('input[type="file"][name="cert_of_incorp"]'),
                  document.querySelector('input[type="file"][name="proof_of_res"]'),
                  document.querySelector('input[type="file"][name="busi_logo"]')
                ];
                let inputs = [
                  document.querySelector('input[type="text"][name="lastName"]'),
                  document.querySelector('input[type="text"][name="firstName"]'),
                  document.querySelector('input[type="text"][name="phoneNumber"]'),
                  document.querySelector('input[type="text"][name="businessName"]'),
                  document.getElementById("registeredAddress"),
                  document.querySelector('input[type="text"][name="businessPhoneNumber"]'),
                  document.querySelector('input[type="text"][name="website"]'),
                  document.querySelector('input[type="text"][name="businessSlogan"]'),
                ];
                let isFormValid = true;
                for (let i = 0; i < files.length; i++) {
                  if (!files[i].files.length) {
                    isFormValid = false;
                    break;
                  }
                }
                for (let i = 0; i < inputs.length; i++) {
                  if (!inputs[i].value) {
                    isFormValid = false;
                    break;
                  }
                }
                if (!isFormValid) {
                  alert("All fields are required. Please fill in all fields and try again.");
                  return;
                }

                let formData = new FormData();

                // Files
                let personal_ID_formField = document.querySelector('input[type="file"][name="personal_ID_formField"]');
                let cert_of_incorp = document.querySelector('input[type="file"][name="cert_of_incorp"]');
                let proof_of_res = document.querySelector('input[type="file"][name="proof_of_res"]');
                let busi_logo = document.querySelector('input[type="file"][name="busi_logo"]');
                formData.append('personal_ID_formField', personal_ID_formField.files[0]);
                formData.append('cert_of_incorp', cert_of_incorp.files[0]);
                formData.append('proof_of_res', proof_of_res.files[0]);
                formData.append('busi_logo', busi_logo.files[0]);

                // Inputs
                let lastName = document.querySelector('input[type="text"][name="lastName"]');
                let firstName = document.querySelector('input[type="text"][name="firstName"]');
                let phoneNumber = document.querySelector('input[type="text"][name="phoneNumber"]');
                let businessName = document.querySelector('input[type="text"][name="businessName"]');
                let registeredAddress = document.getElementById("registeredAddress");
                let businessPhoneNumber = document.querySelector('input[type="text"][name="businessPhoneNumber"]');
                let website = document.querySelector('input[type="text"][name="website"]');
                let businessSlogan = document.querySelector('input[type="text"][name="businessSlogan"]');
                formData.append('lastName', lastName.value);
                formData.append('firstName', firstName.value);
                formData.append('phoneNumber', phoneNumber.value);
                formData.append('businessName', businessName.value);
                formData.append('registeredAddress', registeredAddress.value);
                formData.append('businessPhoneNumber', businessPhoneNumber.value);
                formData.append('website', website.value);
                formData.append('businessSlogan', businessSlogan.value);

                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                formData.append('action', 'post');

                var link = document.querySelector("a[href='#finish']");

                // Disabling finish link
                link.addEventListener("click", function(event) {
                  event.preventDefault();
                });
                link.style.pointerEvents = "none";
                link.style.color = "white";
                link.textContent = 'Loading...'

                $.ajax({
                  type: 'POST',
                  url: '{% url "create_owner" %}',
                  data: formData,
                  success: function (response) {
                    window.location.assign("https://www.example.com");
                  },
                  cache: false,
                  contentType: false,
                  processData: false,

                  error: function (xhr, errmsg, err){
                    // alert the error if any error occured
                    // Enabling finish link
                    link.addEventListener("click", function(event) {
                      event.preventDefault();
                    });
                    link.style.pointerEvents = "auto";
                    link.style.color = "white";
                    link.textContent = 'Finish'
                    // alert(response["responseJSON"]["error"]);
                  }
                });
              }
            }
          }
          parent = parent.parentElement;
        }
      }
    });
  </script>

</html>


