{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CarLnk | Login</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'login/css/bd-wizard.css' %}">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>

<div class="container mt-5 align-items-center text-center col-md-6 col-lg-4 col-sm-6">
    <div id="wizard">
        <a href="{% url 'home' %}">
            <img class="mb-3" src="{% static 'images/logo.png' %}" alt="logo" style="width: 40%;" />
        </a>
        <div id="email_verification" style="display: none;">
            <h5 class="section-heading mb-4">Email Verification</h5>
            <p>We a sent a verification link to your email. If you don't see it check the Spam folder.</p>
            <p>For help call +263719215386</p>
        </div>
        <div id="signup_info">
            <h5 class="section-heading mb-4">Drive your business forward with CarLnk</h5>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email" id="email" class="form-control danger" placeholder="Email">
                <h6 class="text-danger" id="email-error" style="display: none;">Enter valid email address</h6>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            </div>
            <ul class="list-group mb-4">
                <li class="list-group-item d-flex justify-content-between align-items-center password-requirement border-white" id="min-length" >
                    Must be more than 8 characters
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center password-requirement border-white" id="contain-num">
                    Must contain a number
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center password-requirement border-white" id="contain-uppercase">
                    Must contain an uppercase letter
                </li>
            </ul>
            <div class="form-group">
                <label for="confirmPassword" class="sr-only">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password">
                <h6 class="text-danger" id="password-error" style="display: none;">Passwords do not match</h6>
            </div>
            <div id="ajax_error" style="display: none;">
                <p class="text-danger">Something wrong happened</p>
            </div>
            <p class="mt-4 font-weight-light"> 
                By signing up you agree to the 
                <a href="#" class="text-primary">Terms and Conditions</a> 
                and 
                <a href="#" class="text-primary">Privacy Policy</a>
            </p>
            <div class="form-group mt-4">
                <button class="btn btn-block btn-outline-success btn-lg" id="signup_button">SIGNUP</button>
            </div>
            <div class="mt-4 font-weight-light"> Already have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
            </div>
        </div>
    </div>
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{% static 'login/js/jquery.steps.min.js' %}"></script>
  <script src="{% static 'login/js/bd-wizard.js' %}"></script>

</body>

<!-- AJAX Submit Data -->
<script>
    $(document).on('click', '#signup_button', function(event) {
        event.preventDefault();
        let inputs = [
            document.getElementById("email"),
            document.getElementById("password"),
            document.getElementById("confirmPassword")
        ];
        let isFormValid = true;
        for (let i = 0; i < inputs.length; i++) {
            if (!inputs[i].value) {
            isFormValid = false;
            break;
            }
        }
        if (!isFormValid) {
            alert("All fields are required. Please fill in all fields and try again.");
            return;
        }

        let formData = new FormData();

        // Inputs
        let email = document.getElementById("email");
        let password = document.getElementById("password");
        let confirmPassword = document.getElementById("confirmPassword");
        formData.append('email', email.value);
        formData.append('password', password.value);
        formData.append('confirmPassword', confirmPassword.value);

        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formData.append('action', 'post');

        // Disabling signup button
        document.getElementById("signup_button").innerHTML = 'Loading...';
        document.getElementById("signup_button").disabled = true;


        $.ajax({
            type: 'POST',
            url: '{% url "create_account" %}',
            data: formData,
            success: function (response) {
                document.getElementById("signup_info").style.display = "none";
                document.getElementById("email_verification").style.display = "block";
            },
            cache: false,
            contentType: false,
            processData: false,

            error: function (xhr, errmsg, err){
                // alert the error if any error occured
                // Enabling finish link
                document.getElementById("ajax_error").style.display = 'block';
                document.getElementById("signup_button").innerHTML = 'SIGNUP';
                document.getElementById("signup_button").disabled = false;
                // alert(response["responseJSON"]["error"]);
                
            }
        });
    });
</script>

<!-- Validating email address -->
<script>
    var email = document.getElementById("email");
    var pattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    var errorMessage = document.getElementById("email-error");
    var link = document.getElementById("signup_button");

    email.addEventListener("keyup", function() {
        var emailField = email.value;

        if (pattern.test(emailField)) {
            email.classList.remove("is-invalid");
            errorMessage.style.display = "none";
            // Enabling signup button
            document.getElementById("signup_button").disabled = false;

        } else {
            email.classList.add("is-invalid");
            errorMessage.style.display = "block";
            // Disabling signup button
            document.getElementById("signup_button").disabled = true;
        }
    })
</script>
  
<!-- Validating if Password meets requirements -->
<script>
    var passwordInput  = document.getElementById("password");

    var minLength = document.getElementById("min-length");
    var containNum = document.getElementById("contain-num");
    var containUppercase = document.getElementById("contain-uppercase");

    var isMinLengthMet = false;
    var isContainNumMet = false;
    var isContainUppercaseMet = false;

    passwordInput.addEventListener("keyup", function() {

        let password = this.value;
        
        if (password.length >= 8) {
            minLength.classList.remove("list-group-item-danger");
            minLength.classList.add("list-group-item-success");
            isMinLengthMet = true;
        } else {
            minLength.classList.remove("list-group-item-success");
            minLength.classList.add("list-group-item-danger");
            isMinLengthMet = false;
        }
        if (/\d/.test(password)) {
            containNum.classList.remove("list-group-item-danger");
            containNum.classList.add("list-group-item-success");
            isContainNumMet = true;
        } else {
            containNum.classList.remove("list-group-item-success");
            containNum.classList.add("list-group-item-danger");
            isContainNumMet = false;
        }
        if (/[A-Z]/.test(password)) {
            containUppercase.classList.remove("list-group-item-danger");
            containUppercase.classList.add("list-group-item-success");
            isContainUppercaseMet = true;
        } else {
            containUppercase.classList.remove("list-group-item-success");
            containUppercase.classList.add("list-group-item-danger");
            isContainUppercaseMet = false;
        }
        
        // Checking whether all password requirements were met
        if (isMinLengthMet && isContainNumMet && isContainUppercaseMet) {
            // Enabling signup button
            document.getElementById("signup_button").disabled = false;

        } else {
            // Disabling signup button
            document.getElementById("signup_button").disabled = true;
        }
    })
</script>
  
<!-- Check if password match -->
<script>
    const firstPassword  = document.getElementById("password");
    const secondPassword  = document.getElementById("confirmPassword");
    var link = document.querySelector("a[href='#finish']");
    var passwordMessage = document.getElementById("password-error");

    secondPassword.addEventListener("keyup", function() {
        if (firstPassword.value !== secondPassword.value) {
            firstPassword.classList.add("is-invalid");
            secondPassword.classList.add("is-invalid");
            passwordMessage.style.display = "block";
            // Disabling signup button
            document.getElementById("signup_button").disabled = true;

        } else {
            firstPassword.classList.remove("is-invalid");
            secondPassword.classList.remove("is-invalid");
            passwordMessage.style.display = "none";
            // Enabling signup button
            document.getElementById("signup_button").disabled = false;
        }
    })
</script>
  
</html>
