{% extends 'renters/base.html' %}
{% block meta %}
    <title>Terms and Conditions | CarLnk </title>
    <meta name="description" content="Read and agree to our terms and conditions to use our service. Our terms and conditions outline the rules and guidelines for the use of our website, including information on user responsibilities, intellectual property, privacy, and more. By using our service, you agree to these terms and conditions.">
{% endblock meta %}
{% load static %}

{% block content %}
<style>
    .ftco-navbar-light {
        background: #000 !important;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 3;
    }
</style>

<section class="ftco-section">
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="heading-section ftco-animate">
                <h2 class="mb-3">Terms and Conditions</h2>
            </div>
        </div>
        <div class="row text-dark">
          <h1>Welcome to CarLnk</h1>
          <p>A platform owned and operated by CarLnk (referred to as "we," "our," or "us"). These Terms and Conditions of Use (the "Terms") govern your use of the CarLnk website and all related services (the "Service"). Please read these Terms carefully before accessing or using the Service.</p>

          <h2>1. Introduction</h2>
          <p>
            1.1. The term "we", "our", or "us" refers to the owner of the website whose registered office is located in Zimbabwe.<br>
            1.2. The term "you" refers to the user or viewer of our website.<br>
            1.3. The term "platform" refers to the CarLnk website.<br>
            1.4. By using our platform, you accept and agree to be bound by these Terms. If you do not agree to these Terms, please do not use our platform.
          </p>

          <h2>2. Description of Service</h2>
          <p>
            2.1. Our platform connects users to car rental businesses and their services. We do not facilitate or take part in any direct bookings. Users are required to contact the car rental business owners directly through the provided communication channels.<br>
            2.3. Users are not required to register on our platform to use the service. However, car rental business owners must partner with us to list their cars.<br>
            2.4. Car rental business owners will undergo a verification process before being allowed to list their cars on our platform. Legal documents are required for this verification.<br>
            2.5. Car rental business owners will pay a monthly subscription fee to list their cars on our platform.<br>
            2.6. Users will communicate directly with car rental business owners to cancel reservations, and we are not involved in this process.<br>
            2.7. We are not responsible for any damages or injuries that occur during the rental period.
          </p>

          <h2>3. Intellectual Property Rights</h2>
          <p>
            3.1. The platform and its entire contents, features, and functionality, including but not limited to all information, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof are owned by us, our licensors, or other providers of such material and are protected by Zimbabwean and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.<br>
            3.2. These Terms permit you to use the platform for your personal, non-commercial use only. You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store, or transmit any of the material on our platform.<br>
            3.3. If you print, copy, modify, download, or otherwise use or provide any other person with access to any part of the platform in breach of these Terms, your right to use the platform will stop immediately and you must, at our option, return or destroy any copies of the materials you have made.
          </p>

          <h2>4. Links to Third Party Websites</h2>
          <p>
            4.1. Our platform may contain links to third-party websites or services that are not owned or controlled by us.<br>
            4.2. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party websites or services.<br>
            4.3. You acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such third-party websites or services.<br>
            4.4. We strongly advise you to read the terms and conditions and privacy policies of any third-party websites or services that you visit.
          </p>

          <h2>5. Subscription Fees</h2>
          <p>
            5.1. Car rental businesses are required to pay a monthly subscription fee to list their cars on the platform. The subscription fee amount is subject to change and CarLnk reserves the right to modify the fee at any time without prior notice.<br>
            5.2. Failure to pay the subscription fee within the specified time period will result in the removal of the car rental business's listings from the platform.
          </p>

          <h2>6. Cancellations and Refunds</h2>
          <p>
            6.1. Users are responsible for communicating directly with the car rental business regarding cancellations and refunds. CarLnk is not involved in this process and shall not be held liable for any losses or damages incurred as a result of cancellation or refund issues.
          </p>

          <h2>7. Liability</h2>
          <p>
            7.1. CarLnk shall not be held liable for any damages, injuries, or losses incurred during the rental period. The car rental business is solely responsible for any claims arising from the use of their cars.<br>
            7.2. CarLnk shall not be held liable for any damages, injuries, or losses incurred as a result of the use of the platform. Users and car rental businesses agree to use the platform at their own risk.
          </p>

          <h2>8. Intellectual Property</h2>
          <p>
            8.1. All content and intellectual property rights on the platform, including but not limited to trademarks, logos, and text, belong to CarLnk or its respective owners. Users and car rental businesses are not authorized to use any of the intellectual property for any purposes without the express written consent of CarLnk or its respective owners.
          </p>

          <h2>9. Termination</h2>
          <p>
            9.1. CarLnk reserves the right to terminate or suspend any user or car rental business's account at any time without prior notice and for any reason.<br>
            9.2. Upon termination, all rights granted to the user or car rental business shall immediately cease.
          </p>

          <h2>10. Links to Third-Party Websites</h2>
          <p>
            10.1. The platform may contain links to third-party websites or resources. CarLnk does not endorse and shall not be responsible or liable for any content, advertising, products, or other materials on or available from such websites or resources.
          </p>

          <h2>11. Links to Third-Party Websites</h2>
          <p>
            11.1. These Terms and Conditions shall be governed by and construed in accordance with the laws of Zimbabwe.<br>
            11.2. Any disputes arising from the use of the platform shall be subject to the exclusive jurisdiction of the courts of Zimbabwe.
          </p>

          <h2>12. Changes to Terms and Conditions</h2>
          <p>
            12.1. CarLnk reserves the right to modify or update these Terms and Conditions at any time without prior notice.<br>
            12.2. Users and car rental businesses are responsible for reviewing these Terms and Conditions regularly.
          </p>
          <p>
            By accessing and using the CarLnk platform, users and car rental businesses agree to be bound by these Terms and Conditions.
          </p>
        </div>
    </div>
</section>


{% endblock content %}