asgiref
async-timeout
bleach
certifi
click
colorama
crispy-bootstrap5
Django
django-compat
django-crispy-forms
gunicorn
jsonfield
Pillow
psycopg2-binary
python-dotenv
python-http-client
pytz
redis
rq
sendgrid
sentry-sdk
six
sqlparse
starkbank-ecdsa
tinycss2
tzdata
urllib3
webencodings
