asgiref
async-timeout
bleach
boto3
botocore
certifi
click
colorama
crispy-bootstrap5
Django
django-compat
django-crispy-forms
django-storages
gunicorn
jmespath
jsonfield
Pillow
psycopg2-binary
python-dateutil
python-dotenv
python-http-client
pytz
redis
rq
s3transfer
sendgrid
sentry-sdk
six
sqlparse
starkbank-ecdsa
tinycss2
tzdata
urllib3
webencodings
