{% extends 'owners/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% load static %}

{% block content %}
  <div class="page-header">
    <h2>Booking request / ${{ car_request.total_amount }} for {{ car_request.total_days }} days</h2>
    <nav aria-label="breadcrumb">
      <button type="button" class="btn btn-success btn-fw" data-bs-toggle="modal" data-bs-target="#acceptRequestModal">ACCEPT</button>
      <button type="button" class="btn btn-danger btn-fw" data-bs-toggle="modal" data-bs-target="#declineRequestModal">DECLINE</button>
    </nav>
  </div>

  <!-- Modal for accepting request -->
  <div class="modal fade" id="acceptRequestModal" tabindex="-1" aria-labelledby="acceptRequestModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5 text-center" id="acceptRequestModal">Are you sure you want to accept this request?</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'accept_request' car_request.id %}" method="post">
            {% csrf_token %}
            <h4 class="mb-4">Agreements with client</h4>
            <div class="form-group">
              <label>Agreed price per day in USD</label>
              <input type="number" class="form-control" name="price" required>
            </div>
            <div class="form-group">
              <label>Number of days</label>
              <input type="number" class="form-control" name="days" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">
                Proceed
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal for declining request -->
    <div class="modal fade" id="declineRequestModal" tabindex="-1" aria-labelledby="declineRequestModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-5 text-center" id="declineRequestModal">Are you sure you want to declie this request?</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            This action can not be undone.                    </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{% url 'decline_request' car_request.id %}">
              <button type="button" class="btn btn-success">
                Proceed
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

  <div class="row mt-5">
    <div class="card bg-light">
      <div class="card-body">
        <!-- PERSONAL INFORMATION -->
        <!-- PICK UP INFOMATION -->
        <div class="col-lg-12 mb-3">
          <div class="col-lg-9">
            <h4>PERSONAL INFORMATION</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="row">
              <h6 class="text-primary">Name</h6>
              <p>{{ car_request.renter_title }}. {{ car_request.renter_name }}</p>
            </div>
            
            
            <div class="row">
              <h6 class="text-primary">EMAIL</h6>
              <p>{{ car_request.renter_email }}</p>
            </div>

          </div>

          <div class="col-lg-4">
            <div class="row">
              <h6 class="text-primary">PHONE</h6>
              <p>{{ car_request.renter_phone_number }}</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <h6 class="text-primary">COUNTRY OF RESIDENCE</h6>
              <p>{{ car_request.renter_country }}</p>
            </div>
            
          </div>
        </div>
        
        <!-- GENERAL -->
        <div class="col-lg-12 mt-4">
          <div class="col-lg-9">
            <h4>GENERAL</h4>
          </div>
          <div class="col-lg-3">
            <h4 class="text-danger"></h4>
          </div>
          <hr>
        </div>

        <!-- BOOKING ID -->
        <div class="row mt-4">
          <div class="col-lg-6">
            <div class="row">
              <h6 class="text-primary">Request ID</h6>
              <p>{{ car_request.id }}</p>
            </div>
            <div class="row mt-4">
              <h6 class="text-primary">Model Name</h6>
              <p>{{ car_request.booked_car.model_name }}</p>
            </div>
            <div class="row mt-4">
              <h6 class="text-primary">Model Class</h6>
              <p>{{ car_request.booked_car.class_name }}</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <h6 class="text-primary">Date of request</h6>
              <p>{{ car_request.date_created }}</p>
            </div>
            <div class="row mt-4">
              <h6 class="text-primary">Request Status</h6>
              <p class="text-danger">PENDING</p> 
            </div>
          </div>
        </div>

        <!-- PICK UP INFOMATION -->
        <div class="col-lg-12 mt-4">
          <div class="col-lg-9">
            <h4>PICK-UP INFORMATION</h4>
          </div>
        <hr>
        </div>

        <div class="row mt-4">
          <div class="col-lg-6">
            <div class="row">
              <h6 class="text-primary">Pick-up location</h6>
              <p>{{ car_request.pickup_location }}</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <h6 class="text-primary">Pick-up date and time</h6>
              <p>{{ car_request.pickup_date }}</p>
            </div>
          </div>
        </div>

        <!-- DROP-OFF INFORMATION -->
        <div class="col-lg-12 mt-4">
          <div class="col-lg-9">
            <h4>DROP-OFF INFORMATION</h4>
          </div>
          <hr>
        </div>

        <div class="row mt-4">
          <div class="col-lg-6">
            <div class="row">
              <h6 class="text-primary">Drop-off location</h6>
              <p>{{ car_request.dropoff_location }}</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <h6 class="text-primary">Drop-off date and time</h6>
              <p>{{ car_request.dropoff_date }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
